ul {
    list-style: none;

    li {
        text-align: center;
        padding: 15px;
        margin-top: 5px;
        border: 1px solid gray;
        font-size: 20px;
    }

    .link {
        color: black;
    }
}

